{% if view != 'print' %}
<div class="card-plus-actions-container bazar-entry" {{ fiche.html_data|raw }}><div class="flip-container" ontouchstart="this.classList.toggle('hover');"><div><div class="flipper">
{% else %}
<div class="qrcard-to-print bazar-entry" {{ fiche.html_data|raw }}>
{% endif %} 
    <div class="qrcard front" style="background-color: {{ cardColor }} !important;">
        <div class="qrcard-header">
            <div class="complexity">{{ difficulty }}</div>
            <div class="card-type">{{ type }}</div>
        </div>
        <h2 class="qrcard-title">{{ fiche.bf_titre }}</h2>
        <div class="qrcard-image">
            {{ mainimage|raw }}
        </div>
        <div class="qrcard-text">
            {{ fiche.bf_accroche }}
        </div>
        <div class="qrcard-footer">
            <img loading="lazy" class="logo" alt="logo" src="{{ logoimage }}" />
            <div class="boite1">
                <div class="mini-picto">{{ picto1|raw }}</div>
                <div class="mini-text">{{ textpicto1 }}</div>
            </div>
            <div class="boite2">
                <div class="mini-picto">{{ picto2|raw }}</div>
                <div class="mini-text">{{ textpicto2 }}</div>
            </div>
            <div class="boite3">
                <div class="mini-picto">{{ picto3|raw }}</div>
                <div class="mini-text">{{ textpicto3 }}</div>
            </div>
        </div>
    </div>
    <div class="qrcard back" style="background-color: {{ fiche.bf_card_color }} !important;">
        <div class="qrcard-header">
            <div class="complexity">{{ difficulty }}</div>
            <div class="card-type">{{ type }}</div>
        </div>
        <h2 class="qrcard-title">{{ fiche.bf_titre }}</h2>
        <div class="qrcard-main-content">
            {{ longtext|raw }}
        </div>
        <div class="qrcard-footer">
            <img loading="lazy" class="logo" alt="logo" src="{{ logoimage }}" />
            <div class="link">
                <a class="card-link" href="{{ link }}">{{ shortlink }}</a>
                <img loading="lazy" class="logo-cc" src="tools/qrcards/images/cc-by-sa.png" alt="licence CC BY SA" />
            </div>
            <div class="qrcode">
                {{ qrcode|raw }}
            </div>
        </div>
    </div>
{% if view != 'print' %}
</div>
</div>
</div>
<div class="qrcard-actions flex-between no-print">
{% if currentuser is not empty %}
{{ include_javascript('javascripts/favorites.js') }}
<a href="#"
    class="favorites"
    title="{{ (isUserFavorite) ? _t('FAVORITES_REMOVE') : _t('FAVORITES_ADD') }}"
    data-resource="{{ fiche.id_fiche }}" 
    data-user="{{ currentuser }}"
    data-toggle="tooltip"
    data-placement="top">
    <i class="{{ (isUserFavorite) ? 'fas' : 'far' }} fa-star"></i>
    {{  _t('QRCARDS_FAVORI') }}
</a>
{% endif %}
<div class="card-edit-links">
    <a title="{{ _t('QRCARDS_PRINT')}}" data-toggle="tooltip" data-placement="top" href="{{ url({tag: fiche.id_fiche,params:{print:1}})  }}" class="btn btn-xs btn-default">
        <i class="fas fa-print"></i>
    </a>
    {% if currentPage != fiche.id_fiche %}
    <a title="{{ _t('QRCARDS_VIEW')}}" data-toggle="tooltip" data-placement="top" href="{{ url({tag:fiche.id_fiche}) }}" class="btn btn-xs btn-default">
        <i class="fa fa-eye-open"></i>
    </a>
    {% endif %}
    {% if linkedit is defined %}
    <a title="{{ _t('TEMPLATE_EDIT')}}" data-toggle="tooltip" data-placement="top" href="{{ linkedit|raw }}" class="btn btn-xs btn-default">
      <i class="fa fa-pencil-alt"></i>
    </a>
  {% endif %}
  {% if linkdelete is defined %}
    <a href="{{ linkdelete|raw }}" class="btn btn-xs btn-danger modalbox" title="{{ _t('TEMPLATE_DELETE')}}" data-toggle="tooltip" data-placement="top">
      <i class="fa fa-trash"></i>
    </a>
  {% endif %}
</div>
</div>
</div>
{% else %}
{% if currentPage != fiche.id_fiche %}
<div class="qrcard-actions no-print text-center">
<a href="#" class="text-danger link-remove-from-print">❌ Ne pas imprimer</a>
</div>
{% endif %}
</div>
{% endif %}
